body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color:#f4f4f4;
}
/* global */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    text-align: left;
    list-style-type: square;
}

.button_1{
    height: 38px;
    background: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

/* Social Media Icons*/

#social_icons{
    position: absolute;
    top: 5px;
    right: 5px;
}

#social_icons img{
    height: 35px;
}

/* header */
header{
background: #35424a;
color: #ffffff;
padding-top: 30px;
min-height: 70px;
border-bottom: #eB491d 3px solid; 
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}
header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}

header a:hover{
    color: #cccccc;
    font-weight: bold;
}

/* showcase */

#showcase{
    min-height: 350px;
    background:url('../img/showcase.jpeg') no-repeat 0 -520px;
    text-align: center;
    color: white;
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 20px;
}

/*boxes*/

#boxes{
    margin-top: 20px;
    padding-bottom: 70px;
}

#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;

}


#boxes .bronze{
    color: #cd7f32; /*Bronze*/
    text-align: center;
}

#boxes .silver{
    color: #C0C0C0; /*silver*/
}

#boxes .gold{
    color: #CFB53B; /*Gold*/
}

/*Gallery Page*/

    #gallery{
        padding-top: 40px;
    }

    .image{
        border-radius: 5px;
        background: #35424a;
        width: 900px;
        padding: 80px;
        margin: 0 auto;
    }

    .image img{
        width: 200px;
        height: 130px;
        padding: 10px;

    }

    .image img:hover{
        transform: scale(1.2);
    }




/*Contact Page*/


form {
    border-radius: 5px;
    background: #35424a;
    color: white;
    padding: 50px;
    width:500px;
    margin: 0 auto;
  }

  input[type=text], [type=email], select, textarea{
	width: 100%;
    padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
  }
  
  input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 30px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
    float: right;
    width: 100px;
  }

  label {
	padding: 12px 12px 12px 0;
	display: inline-block;
  }

#contact{
    padding: 50px;
    line-height: 3em;
    
}


/*footer*/

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    padding: 10px;
    color: white;
    background-color: #e8491d;
    text-align: center;
}

#errorMessage{
    color: red;
    text-align: center;
    font-weight: bold;
}


/*Media Queries*/

@media only screen and (max-width: 600px){
    #boxes .box{
        float: left;
        text-align: center;
        width: 80%;
        padding: 10px;
    
    }
}